.about-section {

  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
  padding-top: 15rem;
  background:linear-gradient(to bottom,rgb(0, 51, 145) 0,rgb(25, 100, 240) 75%,#f8f9fa 100%);
  p {
    margin-bottom: 5rem;
  }
}
